/* start css of classes schedule Page by Esha */
.classes-text {
    color: #7460EE;
}
.classes-card-container {
    flex-direction: row;
    justify-content: space-between;
}
.classes-search-icon {
    position: relative;
    right: 4px;
    background-color: #EBEEEF;
    padding: 6px;
}
.classes-input-div {
    border: 1px solid #D9D9D9;
    outline-color: #5CB3FD;
    padding: 2px;
}
.classes-btn-size {
    border-radius: 100%;
    background-color:#009efb;
}
.classes-list-icon {
    color: white;
}
.classes-align-div {
    text-align: left;
}
/* end css of classes schedule Page by Esha */
