/* start online exams page css added by Esha */
.online-card-container {
    flex-direction: row;
    justify-content: space-between;
}
.online-search-icon {
    border: 1px solid #D9D9D9;
    position: relative;
    right: 4px;
    background-color: #EBEEEF;
    padding: 6px;
}
.online-input-div {
    border: 1px solid #D9D9D9;
    outline-color: #5CB3FD;
    padding: 2px;
}
.online-btn-size {
    border-radius: 100%;
    background-color:#009efb;
    border: none;
}
.online-btn-size:hover  {
    background-color: #5CB3FD;
}
.online-btn-size-check {
    border-radius: 100%;
    border: none;
}
.online-btn-size-check:hover {
    background-color: #739D75;
}
.online-btn-size-check-trash {
    border-radius: 100%;
    border: none;
}
.online-btn-size-check-trash:hover {
    background-color: #FF625B;
}

/* end online exams page css added by Esha */
